@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Raleway:500,700");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Raleway', sans-serif;
  vertical-align: baseline;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #333;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

nav h1 {
  float: left;
  display: inline-block;
  color: #00cdcf;
  margin-left: 10px;
  font-size: 3vh;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  /* This allow us to arrange list items in a row, without using float */
  display: inline-block;
  list-style-type: none;
  font-size: 2.5vh;
}

/* Create a style for the first level items */
nav>ul>li>a {
  color: white;
  display: block;
  line-height: 2.5em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

nav li>ul {
  display: none;
}

nav li>ul li {
  display: block;
}

nav li>ul li a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* Change the background color when mouse over items */
nav li:hover {
  background-color: #666;
}

/* display the submenu on mouse over main menu item*/
nav li:hover>ul {
  position: absolute;
  display: block;
  background-color: #666;
}

nav li:hover>ul>li:hover {
  background-color: #00cdcf;
}

nav #logout {
  float: right;
  margin-right: 10px;
}

nav #logout a:hover {
  background-color: red;
}

nav>ul>li>a:hover {
  background-color: #00cdcf;
}

nav ul>li.dd {
  background-image: url("../img/white-down-arrow.png");
  background-size: 2.5vh;
  background-position: bottom;
  background-repeat: no-repeat;
}

.nav-create-poll {
  cursor: pointer;
}

.main-container {
  flex: 1 0 auto;
}

.page-title {
  text-align: center;
}

.polls-container {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}


label {
  display: block;
  padding: 5px;
  font-size: 1.4em;
  color: black;
}

fieldset.poll-bound {
  margin: 80px auto;
  width: 80vmin;
  padding: 8px 15px 15px 15px;
  display: block;
  /* IE 7 Requires This */
}

fieldset.results-poll1 {
  box-sizing: border-box;
  width: 39vw;
  position: relative;
}

<<<<<<< HEAD

=======
>>>>>>> 8c0d87a3a7a4b1cf644ef1be7bccb6e786e1fcf0
legend#poll-legend {
  padding: 4px 6px 4px 6px;
  border: 1px solid;
  border-color: #00cdcf;
  font-size: 2.0em;
  color: black;
  font-style: italic;
}

/* Footer */
#footer {
  background-color: #f7f7f7;
  color: #444;
  padding: 5em 0 4em 0;
  position: relative;
  flex-shrink: 0;
}

#footer:before {
  background-color: #ddd;
  content: '';
  height: 1px;
  left: 30%;
  position: absolute;
  top: 0;
  width: 40%;
}

#footer .copyright {
  color: #bbb;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 4em 2em 3em 2em;
  }
}

@media screen and (max-width: 980px) {
  #footer {
    padding: 3em 2em 2em 2em;
  }

  #footer:before {
    width: 75%;
    left: 12.5%;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 2em 1em 2em;
  }

  #footer:before {
    width: 85%;
    left: 7.5%;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 2em 1em 0.1em 1em;
  }
}
